<!-- HERO SECTION -->
<section class="bg-gradient-to-b from-blue-500 to-green-700 text-white">
  <div class="max-w-7xl mx-auto px-6 py-20 grid md:grid-cols-2 gap-10 items-center">

    <!-- Text -->
    <div>
      <h1 class="text-4xl md:text-5xl font-bold leading-tight mb-6">
        Devis Pro Max 
      </h1>
      <div class="text-3xl md:text-5xl font-bold leading-tight mb-6">
        <span class="text-black">Android</span>
      </div>
      <p class="text-lg mb-8 text-blue-100">
        La solution intelligente pour générer devis, dimensionnements et rapports techniques rapidement et avec précision.
      </p>

       <div class="flex gap-4">
        <button [routerLink]="['/inscription']"
          class="bg-white text-blue-700 px-6 py-3 rounded-xl font-semibold hover:bg-gray-100 transition">
          Créer un compte
        </button>

        <button
  onclick="window.location.href='https://github.com/keidy001/dpm_mobile/releases/download/v1.0.0/devis_pro_max.apk'"
  class="bg-blue-600 text-white px-4 py-4 rounded-2xl shadow-lg hover:scale-105 transition transform">
  📲 Télécharger l’APK
</button>
      </div>
    </div>

    <!-- Image -->

  </div>
</section>

<!-- FEATURES SECTION -->
<section class="py-20 bg-gray-50">
  <div class="max-w-7xl mx-auto px-6 text-center">

    <h2 class="text-3xl font-bold mb-12">
      Pourquoi utiliser notre application ?
    </h2>

    <div class="grid md:grid-cols-3 gap-10">

      <div class="bg-white p-8 rounded-2xl shadow-md hover:shadow-xl transition">
        <div class="text-blue-600 text-4xl mb-4">⚡</div>
        <h3 class="text-xl font-semibold mb-3">Calcul automatique</h3>
        <p class="text-gray-600">
          L'application calcule automatiquement la puissance totale,
          les besoins en batterie et en panneaux.
        </p>
      </div>

      <div class="bg-white p-8 rounded-2xl shadow-md hover:shadow-xl transition">
        <div class="text-blue-600 text-4xl mb-4">📄</div>
        <h3 class="text-xl font-semibold mb-3">Génération de Document PDF</h3>
        <p class="text-gray-600">
          Obtenez un Document professionnel prêt à envoyer à vos clients.
        </p>
      </div>

      <div class="bg-white p-8 rounded-2xl shadow-md hover:shadow-xl transition">
        <div class="text-blue-600 text-4xl mb-4">☁️</div>
        <h3 class="text-xl font-semibold mb-3">Sauvegarde en ligne</h3>
        <p class="text-gray-600">
          Accédez à vos projets partout grâce à la base de données distante.
        </p>
      </div>

    </div>
  </div>
</section>



<footer class="bg-gray-900 text-gray-400 py-10">

  <div class="text-center mt-10 text-sm">
    © 2026 Devis Pro Max. Tous droits réservés.
  </div>
</footer>